CompileFlags:
  Add: [-xc++, -Wall]
  Remove: -W*

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: modernize*
    Remove: modernize-use-trailing-return-type
    CheckOptions:
      readability-identifier-naming.VariableCase: lower_case
