CompileFlags:
  Add: [-xc++, -Wall]
  Remove: -W*

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Remove: modernize*
    CheckOptions:
      readability-identifier-naming.VariableCase: lower_case
