[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "third_party/boringssl/src"]
	path = third_party/boringssl/src
	url = https://github.com/google/boringssl.git
