img {
	max-width: 100% !important;
	max-height: auto;
}

#searchBoxPos1 {
	top: 0px !important;
}

#top {
	background: linear-gradient(0deg, var(--separator-color) 35%, var(--primary-lighter-color) 100%);
}

@media only screen and (max-width: 600px) {

	#MSearchBox {
		width: calc(100vw - 60px) !important;
	}

}

#nav-sync {
	display: none;
}

#projectname {
	font-size: 160% !important;
}

table.doxtable td, table.doxtable th {
	width: 50% !important;
}

dl.note {
	background-color: #fcfcc0;
}
