img {
	max-width: 100% !important;
	max-height: auto;
}

#projectname {
	font-size: 160% !important;
}

table.doxtable td, table.doxtable th {
	width: 50% !important;
}

dl.note {
	background-color: #fcfcc0;
}
