name: Construct vcpkg info.

on:
  push:

jobs:
  Build-It:
    runs-on: ubuntu-22.04
    steps:
         - name: Update vcpkg and install other depdendencies.
           uses: actions/checkout@v3
           run: sudo echo ${GITHUB_WORKSPACE}
                sudo apt-get install nasm &&
                cd /usr/local/share/vcpkg &&
                sudo ./bootstrap-vcpkg.sh &&
                sudo git stash &&
                sudo git pull &&
                sudo vcpkg update

         - name: Collect the repo.
           run: sudo git config --global user.email "40668522+RealTimeChris@users.noreply.github.com" &&
                sudo git config --global user.name "realtimechris" &&
                sudo git clone https://realtimechris:${{ secrets.PERSONAL_ACCESS_TOKEN }}@github.com/realtimechris/dpp ./dpp --depth=1

         - name: Construct the original portfile and version file.
           run: cd ./dpp &&
                sudo touch ./cmake/Raw-Files/Portfile-The-First.cmake &&
                sudo touch ./cmake/Raw-Files/Portfile-The-Second.cmake &&
                sudo touch ./vcpkg/ports/dpp/vcpkg.json &&
                sudo bash -c "cat ./cmake/Raw-Files/Top-Of-Portfile.cmake >> ./cmake/Raw-Files/Portfile-The-First.cmake" &&
                sudo git rev-parse HEAD | sudo tee ./cmake/Raw-Files/Portfile-The-First.cmake -a &&
                sudo bash -c "cat ./cmake/Raw-Files/Middle-Of-Portfile.cmake >> ./cmake/Raw-Files/Portfile-The-First.cmake" &&
                sudo bash -c "echo $'0' >> ./cmake/Raw-Files/Portfile-The-First.cmake" &&
                sudo bash -c "cat ./cmake/Raw-Files/Bottom-Of-Portfile.cmake >> ./cmake/Raw-Files/Portfile-The-First.cmake" &&
                sudo bash -c "cat ./cmake/Raw-Files/Top-Of-Version-File.json > ./vcpkg/ports/dpp/vcpkg.json" &&
                sudo sudo date +"\"%Y-%m-%d\"" | sudo tee ./vcpkg/ports/dpp/vcpkg.json -a &&
                sudo truncate -s -1 ./vcpkg/ports/dpp/vcpkg.json &&
                sudo bash -c "cat ./cmake/Raw-Files/Bottom-Of-Version-File.json >> ./vcpkg/ports/dpp/vcpkg.json"

         - name: Attempt to install the library, to collect the SHA512 value.
           run: cd ./dpp &&
                sudo mkdir /usr/local/share/vcpkg/ports/dpp/ &&
                [ -f /usr/local/share/vcpkg/versions/d-/dpp.json ] && echo "File exists." || sudo cp -v -R ./vcpkg/versions/d-/dpp.json /usr/local/share/vcpkg/versions/d-/dpp.json  &&
                [ -f /usr/local/share/vcpkg/ports/dpp/vcpkg.json ] && echo "File exists." || sudo cp -v -R ./vcpkg/ports/dpp/vcpkg.json /usr/local/share/vcpkg/ports/dpp/vcpkg.json  &&
                sudo cp -v -R ./cmake/Raw-Files/Portfile-The-First.cmake /usr/local/share/vcpkg/ports/dpp/portfile.cmake &&
                sudo /usr/local/share/vcpkg/vcpkg install dpp:x64-linux | sudo tee InstallOutput.txt || true

         - name:  Update the portfile and download/install the library.
           run: cd ./dpp &&
                sudo sed -i '/Actual hash/,$!d' InstallOutput.txt &&
                sudo sed -i 's/^.....................//' InstallOutput.txt &&
                sudo sed -i '2,250d' InstallOutput.txt &&
                sudo truncate -s -3 InstallOutput.txt &&
                sudo bash -c "cat ./cmake/Raw-Files/Top-Of-Portfile.cmake >> ./cmake/Raw-Files/Portfile-The-Second.cmake" &&
                sudo git rev-parse HEAD | sudo tee ./cmake/Raw-Files/Portfile-The-Second.cmake -a &&
                sudo bash -c "cat ./cmake/Raw-Files/Middle-Of-Portfile.cmake >> ./cmake/Raw-Files/Portfile-The-Second.cmake" &&
                sudo bash -c "cat InstallOutput.txt >> ./cmake/Raw-Files/Portfile-The-Second.cmake" &&
                sudo bash -c "echo $'' >> ./cmake/Raw-Files/Portfile-The-Second.cmake" &&
                sudo bash -c "cat ./cmake/Raw-Files/Bottom-Of-Portfile.cmake >> ./cmake/Raw-Files/Portfile-The-Second.cmake" &&
                sudo touch ./vcpkg/ports/dpp/portfile.cmake &&
                sudo cp -v -R ./cmake/Raw-Files/Portfile-The-Second.cmake /usr/local/share/vcpkg/ports/dpp/portfile.cmake &&
                sudo cp -v -R ./cmake/Raw-Files/Portfile-The-Second.cmake ./vcpkg/ports/dpp/portfile.cmake &&
                [ -f /usr/local/share/vcpkg/versions/d-/dpp.json ] && sudo cp -v -R /usr/local/share/vcpkg/versions/d-/dpp.json ./vcpkg/versions/d-/dpp.json || echo "File does not exist." &&
                sudo cp -v -R ./vcpkg/* /usr/local/share/vcpkg &&
                cd /usr/local/share/vcpkg &&
                sudo ./vcpkg format-manifest ./ports/dpp/vcpkg.json &&
                sudo git add . &&
                sudo git commit -m "Updates!"  &&
                sudo /usr/local/share/vcpkg/vcpkg x-add-version --overwrite-version --all --skip-version-format-check &&
                cd /home/runner/work/DPP/DPP/dpp &&
                sudo cp -v -R /usr/local/share/vcpkg/ports/dpp/vcpkg.json ./vcpkg/ports/dpp/vcpkg.json &&
                sudo cp -v -R /usr/local/share/vcpkg/versions/baseline.json ./vcpkg/versions/baseline.json &&
                sudo cp -v -R /usr/local/share/vcpkg/versions/d-/dpp.json ./vcpkg/versions/d-/dpp.json &&
                sudo /usr/local/share/vcpkg/vcpkg install dpp:x64-linux &&
                sudo rm -rf InstallOutput.txt &&
                sudo rm -rf ./cmake/Raw-Files/Portfile-The-First.cmake &&
                sudo rm -rf ./cmake/Raw-Files/Portfile-The-Second.cmake &&
                sudo git add . &&
                sudo git commit -m "Updates! [skip ci]" &&
                sudo git config pull.rebase false &&
                sudo git pull &&
                sudo git push origin master