name: "Pull Request Labeler"
on:
  pull_request_target:
    types: [opened, reopened]

permissions:
  contents: read

jobs:
  labeler:
    permissions:
      pull-requests: write # Labeler needs to be able to add labels to PRs.
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
